body {
	background-color: orange;
}
/*
 * Menu
 */
.menu {
	display: -webkit-flex;
	display: 	     flex;
	-webkit-flex-flow: row;
			flex-flow: row;

	height: 4em;
	background-color: white;
	border-radius: 15px;

	font-weight: bold;

	align-items: center;
	justify-content: center;
}
.menu > .menu-logo {

	-webkit-order: 2;
	        order: 2;	
}
.menu > .menu-l {
	-webkit-order: 1;
	        order: 1;
}
.menu > .menu-r {
	-webkit-order: 3;
	        order: 3;
}
.menu-btn {
	display: none; 
}
/*menu desplegable*/
.menu-cont {
	display: none;
	position: fixed;
	height: 100%;
	
	top: 0 !important;
    left: 0 !important;
    z-index: 1;
    background-color: white;
    overflow-x: hidden;
    transition: 0.4s;
    padding: 1rem 0;
    box-sizing:border-box;
}		
.menu-cont .boton-cerrar {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 2rem;
    display: block;
    padding: 0;
    line-height: 1.5rem;
    margin: 0;
    height: 32px;
    width: 32px;
    text-align: center;
    vertical-align: top;
}
.menu-cont ul, .menu-cont li{
    margin:0;
    padding:0;
    list-style:none inside;
}
.menu-cont ul {
    margin: 4rem auto;
    display: block;
    width: 80%;
    min-width:200px;
}
.menu-cont a {
    display: block;
    font-size: 120%;
    color: #eee;
    text-decoration: none; 
}
.menu-cont a:hover{
    color:#fff;
    background-color: #f90;

}
#cerrar {
    display:none;
}
/*Fin de menu desplegable*/

.menu a {

	padding-top: 1.4em;
	padding-left: 1.9em; 
	padding-right: 1.9em; 
	padding-bottom: 1em;
	text-decoration: none;
	color: black;
	
}

.menu .menu-logo a, .menu .menu-btn a {
	padding-top: 100% !important;
	padding-bottom: 0;
}
.menu a:hover {

	background-color: orange;
	border-bottom: 5px solid white;
}

/*
 * Tablero
 */
.container {
	padding-top: 50px;
	

}
.tablero {
	display: grid;
	grid-template-columns: repeat(8, 4em);
	grid-gap: none;
	

	align-items: center;
	justify-content: center;
}
.c-white {
	background-color: white;
	width: 4em ;
	height: 4em ;
}
.c-black {
	background-color: black;
	width: 4em;
	height: 4em;
}

/*footer*/
footer{
	display: flex;
	justify-content: center;
	padding-bottom: 20px;
}

.footer {
	font-size: .9em;
}

.footer > i {
	color: red;
}

.msg {
	display: flex;
	justify-content: center;
	visibility: hidden;
	font-size: .9em;
}