/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.tablero {
		display: grid;
		grid-template-columns: repeat(8, 4em);
	}

	.c-white {
		width: 4em !important;
		height: 4em !important;
	}
	.c-black {
		width: 4em !important;
		height: 4em !important;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.tablero {
		display: grid;
		grid-template-columns: repeat(8, 3.9em);
	}

	.c-white {
		width: 3.9em !important;
		height: 3.9em !important;
	}
	.c-black {
		width: 3.9em !important;
		height: 3.9em !important;
	}
}

@media only screen and (max-width : 600px) {
	.tablero {
		display: grid;
		grid-template-columns: repeat(8, 3.4em);
	}

	.c-white {
		width: 3.4em !important;
		height: 3.4em !important;
	}
	.c-black {
		width: 3.4em !important;
		height: 3.4em !important;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.tablero {
		display: grid;
		grid-template-columns: repeat(8, 3em);
	}

	.c-white {
		width: 3em !important;
		height: 3em !important;
	}
	.c-black {
		width: 3em !important;
		height: 3em !important;
	}
}

@media only screen and (max-width : 450px) {
	.tablero {
		display: grid;
		grid-template-columns: repeat(8, 2.8em);
	}

	.c-white {
		width: 2.8em !important;
		height: 2.8em !important;
	}
	.c-black {
		width: 2.8em !important;
		height: 2.8em !important;
	}
}

@media only screen and (max-width : 390px) {
	.tablero {
		display: grid;
		grid-template-columns: repeat(8, 2.4em);
	}

	.c-white {
		width: 2.4em !important;
		height: 2.4em !important;
	}
	.c-black {
		width: 2.4em !important;
		height: 2.4em !important;
	}

	.msg {
		visibility: visible;
		padding-bottom: 2em;	
	}
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.container {
		margin-top: 50px;
	}
	.tablero {
		display: grid;
		grid-template-columns: repeat(8, 2em);
	}

	.c-white {
		width: 2em !important;
		height: 2em !important;
	}
	.c-black {
		width: 2em !important;
		height: 2em !important;
	}

	.footer {
		width: 15em;
		font-size: .9em;
	}


}
